includes:
    - vendor/symplify/phpstan-extensions/config/config.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    paths:
        - src
        - tests
        - fixtures

    excludes_analyse:
        - src/Domains/GlidedRose/ValueObjects/StrategyMapValueObject.php

    # max is the highest level
    level: max

    checkGenericClassInNonGenericObjectType: false

    checkMissingIterableValueType: false
